@import "../styles/Colors.scss";

$border: "5px solid rgb(64,206,195)";

@keyframes animGlox {
    from {
        border: solid transparent 5px;
        box-shadow: 0 0 0 0 transparent;
    }

    to {
        border: solid $main-blue 5px;
        box-shadow: 0 0 5px 2px $main-blue;
    }
}

.game-card {
    height: 50vh;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-shadow: "0 0 0 0 green";
    color: white;
    scroll-margin: 50px;
    animation: "";
    background-color: transparent;
    border: solid transparent 5px;

    .inner-container {
        height: 98%;
        width: 98%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        color: white;
        background-size: cover;
    }
}