.game-card {
    height: 50vh;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: solid #2d2d2d 5px;
    color: white;
    
    &:hover {
        border: solid rgb(64,206,195) 5px;
    }

    .inner-container {
        height: 98%;
        width: 98%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        color: grey;
    }
}