#game-card-list-container {
  display: flex;
  // justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 5px;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  #splashscreen{
    width: 100vw;
    height: 90vh;
  }
}