#game-card-list-container {
  display: flex;
  padding: 15px;
  gap: 5px;
  overflow: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  #splashscreen{
    width: 100vw;
    height: 90vh;
  }
}